<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.filtergate.modular.warm.mapper.ModelRoomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deepspc.filtergate.modular.warm.entity.ModelRoom">
        <id column="model_room_id" property="modelRoomId"/>
        <result column="model_id" property="modelId"/>
        <result column="room_id" property="roomId"/>
    </resultMap>


</mapper>
