<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.filtergate.modular.warm.mapper.ModelInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deepspc.filtergate.modular.warm.entity.ModelInfo">
        <id column="mode_id" property="modelId"/>
        <result column="mode_name" property="modelName"/>
        <result column="start_week" property="startWeek"/>
        <result column="end_week" property="endWeek"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
        <result column="customer_id" property="customerId"/>
        <result column="icon_id" property="iconId"/>
        <result column="icon_path" property="iconPath"/>
    </resultMap>


</mapper>
