<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.filtergate.modular.temperature.mapper.TemperatureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deepspc.filtergate.modular.temperature.entity.Temperature">
        <id column="temperature_id" property="temperatureId"/>
        <result column="gate_id" property="gateId"/>
        <result column="temp_number" property="tempNumber"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="TemperatureInfo" type="com.deepspc.filtergate.modular.temperature.model.TemperatureDto">
        <result column="temperature_id" property="temperatureId"/>
        <result column="customer_name" property="customerName"/>
        <result column="gate_name" property="gateName"/>
        <result column="gate_code" property="gateCode"/>
        <result column="temp_number" property="tempNumber"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="base_column">
        temperature_id "temperatureId", gate_id "gateId", temp_number "tempNumber", create_time "createTime"
    </sql>

    <select id="getTemperatureInfos" resultMap="TemperatureInfo">
        select
            a.temperature_id,
            a.temp_number,
            b.gate_name,
            b.gate_code,
            c.customer_name,
            date_format(a.create_time, '%Y-%m-%d %T') create_time
        from
            t_temperature a,
            t_gate b,
            t_customer c
        where
            a.gate_id = b.gate_id
            and b.customer_id = c.customer_id
        <if test="customerName != null and customerName != ''">
            where customer_name like CONCAT('%',#{customerName},'%')
        </if>
    </select>

</mapper>
